[client-server]

# This will be passed to all mysql clients
[client]
default-character-set = utf8mb4

# The MySQL server
[mysqld]
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
init-connect='SET NAMES utf8mb4'

[mysql]
default-character-set = utf8mb4

[mysqldump]

# This group is only read by MariaDB servers, not by MySQL.
# If you use the same .cnf file for MySQL and MariaDB,
# you can put MariaDB-only options here
[mariadb]

[mariadb-10.1]

[mariadb-10.2]
